/* Datatable CSS */
#v-datatable-light .header-item {
    cursor: pointer;
    color: #337ab7;
    transition: color 0.15s ease-in-out;
}

#v-datatable-light .header-item:hover {
    color: #ed9b19;
}

#v-datatable-light .header-item.no-sortable {
    cursor: default;
}
#v-datatable-light .header-item.no-sortable:hover {
    color: #337ab7;
}

#v-datatable-light .header-item .th-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

#v-datatable-light .header-item .th-wrapper.checkboxes {
    justify-content: center;
}

#v-datatable-light .header-item .th-wrapper .arrows-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
}

#v-datatable-light .header-item .th-wrapper .arrows-wrapper.centralized {
    justify-content: center;
}

#v-datatable-light .table td {
    text-align: left;
}

#v-datatable-light .arrow {
    transition: color 0.15s ease-in-out;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

#v-datatable-light .arrow.up {
    border-bottom: 8px solid #337ab7;
}

#v-datatable-light .arrow.up:hover {
    border-bottom: 8px solid #ed9b19;
}

#v-datatable-light .arrow.down {
    border-top: 8px solid #337ab7;
}

#v-datatable-light .arrow.down:hover {
    border-top: 8px solid #ed9b19;
}

#v-datatable-light .footer {
    display: flex;
    justify-content: space-between;
    width: 500px;
}
/* End Datatable CSS */

/* Pagination CSS */
#v-datatable-light-pagination {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 30px;
}

#v-datatable-light-pagination .pagination-item {
    width: 30px;
    margin-right: 5px;
    font-size: 16px;
    transition: color 0.15s ease-in-out;
}

#v-datatable-light-pagination .pagination-item.selected {
    color: #ed9b19;
}

#v-datatable-light-pagination .pagination-item .page-btn {
    background-color: transparent;
    outline: none;
    border: none;
    color: #337ab7;
    transition: color 0.15s ease-in-out;
}

#v-datatable-light-pagination .pagination-item .page-btn:hover {
    color: #ed9b19;
}

#v-datatable-light-pagination .pagination-item .page-btn:disabled {
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.65;
}
/* END PAGINATION CSS */
